<% layout('./layouts/boilerplate') %>
    <div class="col-6 offset-3 alert alert-danger alert-dismissible fade show" role="alert">
        <h4 class="alert-heading">Error</h4>
        <p><%=err.message%></p>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
