body {
    background-color: #F7F7F7;
}

.flash {
    margin-top: 100px;
}

/* ------------------------------------ Navbar styles ---------------------------------------*/

#filterFormContainer {
    margin-top: 130px;
}

.navbar {
    border: solid 0 black;
    width: 90%;
    border-radius: 10px;
    margin: auto;
    padding: 0.75rem 1rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background-color: #F7F7F7;
    display: block;
}

#navbarSlogan {
    color: white;
}

.allListings-back-link, .newListing-cancel-link, .listing-back-link {
    font-size: 1.3rem;
    font-weight: 500;
}

.nav-item, .card-link, .allListings-back-link, .newListing-cancel-link, .listing-back-link {
    display: inline-block;
    color: #DD4A48;
    text-decoration: none;
}

.nav-item::after, .card-link::after, .allListings-back-link::after, .newListing-cancel-link::after, .listing-back-link::after {
    content: '';
    display: block;
    width: 0;
    height: 3px;
    background: #DD4A48;
    transition: width .5s;
}

.nav-item:hover::after, .card-link:hover::after, .allListings-back-link:hover::after, .newListing-cancel-link:hover::after, .listing-back-link:hover::after {
    width: 100%;
}

.navbar-brand {
    font-weight: bold;
    font-size: 1.5rem;
    color: #DD4A48;
}

.navbar a:hover, .navbar-brand:hover, .card-link:hover {
    color: #DD4A48;
}

/* ------------------------------------ Index/home page styles ---------------------------------------*/
#indexPageTitle { padding-top: 75px; }

.card {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    min-height: 400px;
}

.card-link {
    font-size: 1.2rem;
    font-weight: 500;
}

.card-link-container {
    width: 50px;
}

/* ------------------------------------ Login & signup form styles ---------------------------------------*/
#loginFormContainer, #signupFormContainer {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#signupFormContainer {
    margin-top: 1.5rem;
    margin-bottom: 0;
}

.auth-redirect-form-link {
    color: #DD4A48;
}

@media screen and (max-width: 672px) {
    .nav-item{
        width: 15%;
    }

    #signupFormContainer {
        margin-top: 2rem;
    }

}

/* ------------------------------------ User/landlord dashboard styles ---------------------------------------*/
#dashboardContainer, #individualListingContainer, #newListingFormContainer, #editFormContainer {
    margin-top: 125px;
}

.viewing-card, .listing-card {
    min-height: 100px;
    height: 150px;
}

/* ------------------------------------ Listings pages styles  ---------------------------------------*/

.listing-image {
    border-radius: 5px;
    margin: auto;
    max-width: 100%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

#map {
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

#listingContainer {
    margin: 125px 100px 50px 100px;
}

.listing-like-btn, #propertyLikeBtn {
    background-color: #F7F7F7;
    border: none;
    transition: all 0.3s ease;
    height: 2rem;
    width: 2rem;
}

.listing-like-btn:hover {
    transform: scale(1.1);
}

.listing-numbers {
    font-size: 1.5rem;
    margin-top: 0.5rem;
}
