<% layout('./layouts/boilerplate') %>
<form class="needs-validation col-6 offset-3 my-3" action="/properties" method="POST" novalidate>
    <h1>Add Property</h1>
    <div class="my-3">
        <a href="/properties">Cancel</a>
    </div>
    <div class="mb-3">
        <label class="form-label" for="address">Address</label>
        <input class="form-control" type="text" name="property[address]" id="address" required>
        <div class="valid-feedback">Looks good!</div>
        <div class="invalid-feedback">Address cannot be empty</div>
    </div>
    <div class="mb-3">
        <label class="form-label" for="numberRooms">Rooms</label>
        <input class="form-control" type="number" min="1" max="6" name="property[numberRooms]" id="numberRooms" required>
        <div class="valid-feedback">Looks good!</div>
        <div class="invalid-feedback">Rooms must be a value between 1 and 6</div>
    </div>
    <div class="mb-3">
        <label class="form-label" for="image">Image URL</label>
        <input class="form-control" type="text" name="property[imae=ge]" id="image" required>
        <div class="valid-feedback">Looks good!</div>
        <div class="invalid-feedback">Image URL cannot be empty</div>
    </div>
    <div class="mb-3">
        <label class="form-label" for="description">Description</label>
        <input class="form-control" type="text" name="property[description]" id="description" required>
        <div class="valid-feedback">Looks good!</div>
        <div class="invalid-feedback">Description cannot be empty</div>
    </div>
    <div class="mb-3">
        <label class="form-label" for="monthlyRent">Rent per Room</label>
        <input class="form-control" type="number" min="100" max="300" step="25" name="property[monthlyRent]" id="monthlyRent" required>
        <div class="valid-feedback">Looks good!</div>
        <div class="invalid-feedback">Monthly rent per room must be a value between 100 and 300</div>
    </div>
    <button type="sumbit" class="btn btn-success">Add</button>
</form>

<script>
    (() => {
    'use strict'
    const forms = document.querySelectorAll('.needs-validation')
    Array.from(forms).forEach(form => {
        form.addEventListener('submit', event => {
        if (!form.checkValidity()) {
            event.preventDefault()
            event.stopPropagation()
        }

        form.classList.add('was-validated')
        }, false)
    })
    })()
</script>