<div id="loginFormContainer">
    <% layout('./layouts/boilerplate') %>
    <div class="col-8 col-md-6 offset-2">
        <h1 class="mb-3">Login</h1>
        <form action="/auth/login" method="POST" class="needs-validation" novalidate>
            <div class="mb-2 w-75">
                <label for="username" class="form-label">Username</label>
                <input name="username" type="text" id="username" class="form-control" required>
                <div class="valid-feedback">Looks good!</div>
                <div class="invalid-feedback">Username cannot be empty</div>
            </div>    
            <div class="mb-4 w-75">
                <label for="password" class="form-label">Password</label>
                <input name="password" type="password" id="password" class="form-control" required>
                <div class="valid-feedback">Looks good!</div>
                <div class="invalid-feedback">Password cannot be empty</div>
            </div>
            <button class="btn mb-3 btn-danger">Login</button>
        </form>
        <p>Don't have an account? <a class="auth-redirect-form-link" href="/auth/signup">Sign-up</a> instead.</p>
    </div>
</div>

<script>
    (() => {
    'use strict'
    const forms = document.querySelectorAll('.needs-validation')
    Array.from(forms).forEach(form => {
        form.addEventListener('submit', event => {
        if (!form.checkValidity()) {
            event.preventDefault()
            event.stopPropagation()
        }

        form.classList.add('was-validated')
        }, false)
    })
    })()
</script>